@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
body {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background-color: hsl(20, 50%, 98%);
  margin: 0;
  padding: 20px;
}

.filters {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
}
.filters .filterTitle {
  font-size: 16px;
  color: hsl(14, 86%, 42%);
  margin: 0px;
  font-weight: 700;
}
.filters .filters-content {
  display: flex;
  gap: 15px;
}
.filters .filters-content select {
  border-color: hsl(14, 25%, 72%);
  border-radius: 10px;
  padding: 3px;
  color: hsl(14, 86%, 42%);
  outline: none;
}

.mainContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup .quantityCartItemPopUp {
  text-align: start;
  margin: 0px;
}
.popup .quantityCartItemPopUp .quantityCartItem {
  color: hsl(14, 86%, 42%);
  font-weight: 500;
  font-size: 16px;
}
.popup .quantityCartItemPopUp .priceCartItem {
  font-weight: 400;
  color: hsl(7, 20%, 60%);
  font-size: 16px;
}
.popup .totalPriceCartItemPopUp {
  position: absolute;
  left: 75%;
  right: 0;
  max-width: 100px;
  top: 28px;
}

.popup-content {
  background-color: hsl(20, 50%, 98%);
  border-radius: 8px;
  padding: 32px;
  max-width: 520px;
  width: calc(100% - 80px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 445px;
  margin: 0 auto;
}
.popup-content .order-sumary-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 456px;
  margin: 0 auto;
  position: relative;
}
.popup-content .order-sumary-list .order-summary {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.popup-content .order-sumary-list .order-summary .quantityCartItem {
  margin: 0px;
  text-align: start;
}
.popup-content .order-sumary-list .order-summary li {
  display: flex;
}
.popup-content .order-sumary-list .order-summary span {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.popup-subtitle {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  opacity: 1;
  color: hsl(7, 20%, 60%);
  text-align: start;
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.order-item {
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e7eb;
}
.order-item span {
  min-width: 318px;
  font-size: 14px;
  font-weight: 500;
  text-align: start;
}

.order-summary-list {
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: hsl(20, 50%, 98%);
}

.popup-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  max-width: 456px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.popup-header h2 {
  margin: 20px 0px 0px 0px;
}

.check-icon {
  color: hsl(159, 69%, 38%);
  font-size: 24px;
  margin-right: 10px;
}

.order-summary {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.order-summary li {
  margin: 5px 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.total {
  font-weight: bold;
  margin: 10px 0;
  align-items: center;
  font-size: 24px;
}

.start-order-button {
  background-color: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  border-radius: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 3rem;
}

.start-order-button:hover {
  background-color: hsl(14, 86%, 32%);
}

.titleList {
  font-size: 2rem;
  color: hsl(14, 65%, 9%);
  margin-bottom: 20px;
  padding-left: 15px;
}

.carbon-neutral {
  opacity: 1;
  background-color: hsl(13, 31%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  gap: 5px;
}
.carbon-neutral span {
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-between;
}
.container .minicartProducts {
  width: 100%;
  max-width: 420px;
  min-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  height: fit-content;
  position: relative;
}
.container .minicartProducts p {
  font-weight: 500;
  color: hsl(12, 20%, 44%);
  font-size: 16px;
}
.container .confirm-order {
  font-family: "Red Hat Text", sans-serif;
  background-color: hsl(14, 86%, 42%);
  max-width: 388px;
  height: 3rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: hsl(20, 50%, 98%);
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.listProducts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

ul {
  list-style-type: none;
  padding: 0;
}

.box-product {
  border-radius: 12px;
  padding: 10px;
  max-width: 270px;
  text-align: center;
  transition: transform 0.2s;
  position: relative;
}
.box-product .image-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-product:hover {
  transform: translateY(-5px);
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-info .categoryName {
  font-size: 12px;
  color: hsl(7, 20%, 60%);
  font-weight: 600;
}
.product-info .price {
  color: hsl(14, 86%, 42%);
  font-weight: bold;
}
.product-info > h2 {
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
}

.add-to-cart {
  color: black;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 170px;
  height: 40px;
  border: 1px solid black;
  background: hsl(20, 50%, 98%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -19px;
}
.add-to-cart img {
  margin-right: 5px;
}

.productsCart {
  display: flex;
  flex-direction: column;
}
.productsCart .itemTitleCart {
  font-size: 14px;
  line-height: 1.25rem;
  font-weight: 700;
  margin: 0px;
}
.productsCart .quantityCartItem {
  color: hsl(14, 86%, 42%);
  font-weight: 500;
  font-size: 0.875rem;
}
.productsCart .priceCartItem {
  color: hsl(7, 20%, 60%);
  font-weight: 400;
  font-size: 1rem;
}
.productsCart .totalPriceCartItem {
  color: hsl(12, 20%, 44%);
  font-weight: 600;
  font-size: 1rem;
}
.productsCart span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.productsCart .removeProduct {
  cursor: pointer;
  background: none;
  border: 0px;
  position: absolute;
  right: 23px;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 7px;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 142px;
  height: 40px;
  justify-content: space-between;
  background: hsl(14, 86%, 42%);
  border-radius: 25px;
  padding: 0px 14px;
  flex-direction: row-reverse;
  position: relative;
  top: -21px;
  margin: 0px;
}
.quantity span {
  color: hsl(20, 50%, 98%);
}

.quantity button {
  color: hsl(20, 50%, 98%);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  background: transparent;
  border: 1px solid;
  border-radius: 50%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity button:hover {
  background-color: hsl(20, 50%, 98%);
  color: black;
  border-color: transparent;
}
.quantity button img {
  vertical-align: middle;
}
.quantity button img:hover {
  filter: brightness(0);
}

.minicartProducts h2 {
  font-size: 1.875rem;
  color: hsl(14, 86%, 42%);
  margin: 0px;
  font-weight: 700;
}

.minicartProducts ul {
  list-style-type: none;
  padding: 0;
}

.minicartProducts ul li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.total {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.confirm-order:hover {
  background-color: hsl(14, 86%, 32%);
}

.total {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.total span {
  font-weight: bold;
  font-size: 1.5rem;
}

@media (max-width: 1400px) {
  .box-product {
    max-width: 250px;
  }
  .container .minicartProducts {
    max-width: 300px;
  }
}
@media (max-width: 1300px) {
  .listProducts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1050px) {
  .container {
    flex-wrap: wrap;
  }
}
@media (max-width: 680px) {
  .container {
    padding: 10px;
  }
  body {
    padding: unset;
  }
  .listProducts {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  .mainContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
  }
  .box-product {
    border-radius: 12px;
    text-align: center;
    transition: transform 0.2s;
    position: relative;
    max-width: unset;
  }
  .container .minicartProducts {
    min-width: unset;
    max-width: unset;
  }
}

/*# sourceMappingURL=styles.css.map */
